.limites{
	Position: relative;
	/*Top:10%;
	Left:50%;*/
	text-align: center;
}

.img_logo {
	width: 45%;
	height: 45%;
}

.text_block1 {
	Position: relative;
	font-family:Arial, Helvetica, sans-serif;
	Font-weight: bold;
	font-size: 300%;
	text-align: center;
}

.text_block2 {
	Position: relative;
	font-family:Arial, Helvetica, sans-serif;
	Font-weight: bold;
	font-size: 200%;
	text-align: center;
}